@use 'sass:color';
@forward 'variables';
@forward 'mixins';
@use 'variables' as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  font-family: $font-base;
  color: $color-text;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
